
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

h2 {
    margin-top: 0;
}

p {
    margin-bottom: 5px;
}


.characters-list {
    padding-left: 20px;
}

.characters-list li {
    list-style-type: square;
    margin-bottom: 5px;
}




.film {
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Анімація для заголовка фільму */
}



.content {
    display: none;
    overflow: hidden;
    transition: height 0.3s ease-in-out; /* Анімація для списку персонажів */
}


h2 {
    margin-top: 0;
}

p {
    margin-bottom: 10px;
    font-style: italic;
}
